<div class="main">
  <div class="wrapper">
    <h2>Registration</h2>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <div class="input-box">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter your name"
          ngModel
          #inputUsername="ngModel"
          required
          minlength="4"
        />
      </div>
      <ng-container *ngIf="inputUsername.touched">
        <p class="error" *ngIf="inputUsername.errors?.['required']">
          Username is required!
        </p>
        <p class="error" *ngIf="inputUsername.errors?.['minlength']">
          Username must be at least 4 characters!
        </p>
      </ng-container>

      <div class="input-box">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          ngModel
          #inputEmail="ngModel"
          required
          minlength="10"
          email
        />
      </div>
      <ng-container *ngIf="inputEmail.touched">
        <p class="error" *ngIf="inputEmail.errors?.['required']">
          Email is required!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['minlength']">
          Email must be at least 10 characters!
        </p>
        <p class="error" *ngIf="inputEmail.errors?.['email']">
          Invalid email format!
        </p>
      </ng-container>

      <div ngModelGroup="passwords" #passwords="ngModelGroup" appPasswordCheck>
        <div class="input-box">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create password"
            ngModel
            #inputPassword="ngModel"
            [(ngModel)]="password1"
            required
            minlength="3"
          />
        </div>
        <ng-container *ngIf="inputPassword.touched">
          <p class="error" *ngIf="inputPassword.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="inputPassword.errors?.['minlength']">
            Password must be at least 3 characters!
          </p>
        </ng-container>

        <div class="input-box">
          <input
            type="password"
            id="rePassword"
            name="rePassword"
            placeholder="Confirm password"
            ngModel
            #inputRePassword="ngModel"
            [(ngModel)]="password2"
            required
          />
        </div>
        <ng-container *ngIf="inputRePassword.touched">
          <p class="error" *ngIf="inputRePassword.errors?.['required']">
            Password confirmation is required!
          </p>
          <p class="error" *ngIf="passwords.errors?.['passwordCheck']">
            Passwords don`t match!
          </p>
        </ng-container>
      </div>

      <div class="input-box button">
        <input type="Submit" value="Register Now" />
      </div>
      <div class="text">
        <h3>Already have an account? <a routerLink="/login">Login now</a></h3>
      </div>
    </form>
  </div>
</div>
