<div class="profile-page">
  <div class="content">
    <div class="content__cover">
      <div class="content__avatar"></div>
      <div class="content__bull">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="content__title">
      <h1>{{user?.username}}</h1>
      <span>{{user?.email}}</span>
    </div>
    <div class="content__button">
      <a class="button" href="#">
        <div class="button__border"></div>
        <div class="button__bg"></div>
        <p class="button__text">My reviews</p></a
      >
    </div>
  </div>
</div>

<div class="cards-list">
  
  <div class="card 1">
    <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
    <div class="card_title title-white">
      <p>Card Title</p>
    </div>
  </div>
  
  
  </div>

