<div class="profile-page">
  <div *ngIf="isProfileLoading">
    <app-loader />
  </div>
  <div class="content" *ngIf="!isProfileLoading">
    <div class="content__cover">
      <div class="content__avatar"></div>
      <div class="content__bull">
        <span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="content__title">
      <h1>{{ user?.username }}</h1>
      <span>{{ user?.email }}</span>
    </div>
    <div class="content__button" (click)="toggleReviewsVisibility()">
      <a class="button">
        <div class="button__border"></div>
        <div class="button__bg"></div>
        <p class="button__text">My reviews</p></a
      >
    </div>
  </div>
</div>

<div *ngIf="showReviews && areReviewsLoading">
  <app-loader />
</div>

<ng-container *ngIf="showReviews && !areReviewsLoading">
  <ng-container *ngIf="hasRewies()">
    <div class="cards-list">
      <div
        class="card 1"
        *ngFor="let book of books"
        [routerLink]="['/books', book._id]"
      >
        <div class="card_image"><img src="{{ book.image }}" /></div>
        <div class="card_title title-white">
          <p>{{ book.title | slice }}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!hasRewies()">
    <h2>No reviews yet!</h2>
  </ng-container>
</ng-container>
