<section id="hero">
  <div class="gradient">
    <header>
      <!-- <div class="logo">
          <i class="fa-brands fa-gg"></i> <span>HustleCase</span>
        </div>
        <div class="cart">
          <i class="fa-solid fa-cart-shopping"></i> <span>Cart</span>
        </div> -->
    </header>
    <h1>Dive into literary worlds</h1>
    <p>
      Whether you're an avid reader, a casual bookworm, or a literary
      enthusiast, BookBuzz has you covered. Dive into a vast collection of book
      reviews, curated recommendations, and insightful critiques from fellow
      readers and literary experts.
    </p>
    <div class="container">
      <button>Buy now</button>
      <div class="link">
        <a href="">See it in action</a>
        <i class="fa-solid fa-circle-arrow-right"></i>
      </div>
    </div>
  </div>
</section>
