<section id="hero">
  <div class="gradient">
    <header>
    </header>
    <h1>Dive into literary worlds</h1>
    <p>
      Whether you're an avid reader, a casual bookworm, or a literary
      enthusiast, BookBuzz has you covered. Dive into a vast collection of book
      reviews, curated recommendations, and insightful critiques from fellow
      readers and literary experts.
    </p>
    <div class="container">
      <button routerLink="/books">Get Started</button>
      <ng-container *ngIf="!isLoggedIn">
        <div class="link">
          <p>Have an account? <a routerLink="/login">Login</a></p>
        </div>
      </ng-container>
    </div>
  </div>
</section>
