<header>
  <h1 class="logo"><a routerLink="/">BookBuzz</a></h1>
  <ul class="nav">
    <li class="navlink"><a routerLink="/">Home</a></li>
    <li class="navlink"><a routerLink="/books">Explore</a></li>
    <!-- <li class="navlink"><a href="#">About</a></li> -->
    <li class="navlink"><a routerLink="/login">Login</a></li>
    <li class="navlink"><a routerLink="/register">Register</a></li>
    <li class="navlink" (click)="logout()"><a href="#">Logout</a></li>
    <!-- <li class="navlink"><a routerLink="/books/add">Add Review</a></li> -->
    <!-- <li class="navlink"><a routerLink="/profile">Profile</a></li> -->
  </ul>
</header>
